.examinee-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e2f;
    font-family: Arial, sans-serif;
}

.examinee-page h1 {
    color: white;
}

.examinee-page p {
    color: white;
}

.examinee-page textarea {
    width: 80%;
    height: 200px;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.examinee-page button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.examinee-page button:hover {
    background-color: #0056b3;
}

.task-switcher {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.examinee-page p.time {
    font-size: 24px;
    font-weight: bold;
    color: white;
}