.task-item {

    background-color: #2e2e3f;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.task-item:hover {
    background-color: #3e3e4f;
    cursor: pointer;
}

.task-details {
    flex-grow: 1;
    margin-right: 10px;
}

.task-list-body {
    max-height: 75vh;
    overflow: auto;
    margin-bottom: 30px;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}