.screen {
    background-color: #ffffff;
    width: 100%;
}

.screen .header {
    background-color: #6b89c4;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32px;
    min-width: fit-content;
}

.screen .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .loginSection {
    background-color: #9baac8;
    height: 95vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 450px;
}

.screen .login-form {
    background-color: #d5d5d5;
    border-radius: 20px;
    height: 70%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    min-width: 300px;
}

.screen .text-wrapper-2 {
    margin-top: 5vh;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .login {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18%;
    width: 100%;
}

.screen .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .rectangle-2 {
    background-color: #e7e7e7;
    border-radius: 20px;
    height: 50%;
    width: 100%;
}

.screen .password {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18%;
    width: 100%;
}

.screen .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .rectangle-3 {
    background-color: #e7e7e7;
    border-radius: 20px;
    height: 50%;
    width: 100%;
}

.screen .submit {
    height: 15%;
    width: 35%;
    margin-top: 10%;
    background-color: #6b89c5;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}