.exam-start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e2f;
    font-family: Arial, sans-serif;
}

.exam-start-page h1 {
    color: white;
}

.exam-start-page p {
    color: white;
}

.exam-start-page button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    color: #fff;
    border-radius: 5px;
}

.exam-start-page button:hover {
    background: linear-gradient(90deg, #e52e71, #ff8a00);
}